  html{
  background-image: url('./Assets/time.jpg');
    background-repeat: no-repeat;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: url('./Assets/time.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  overflow: hidden;
}

h2{
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
    color: white;
}

.clock{
  display: flex;
}

.clock div{
  margin: 5px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.clock span{
  width: 100px;
  height: 80px;
  background-color: rgba(155, 155, 158, 0.485);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-shadow:  2px 2px 4px rgba(0,0,0, 0.3);
}

.clock .text{
  height: 30px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: goldenrod;
  font-weight: 800;
  color: black;
  opacity: 0.8;
}

.clock #ampm{
  bottom: 0;
  width: 60px;
  height: 30px;
  font-size: 20px;
  position: absolute;
}

footer a{
  font-weight: 700;
  color: goldenrod;
  position: relative;
  top: 200%;
  text-shadow: 5px 1px 3px rgba(0,0,0,0.9);
  text-decoration: none;
  text-align: center;
  display: inline-block;
}


/* setting the responsiveness of the digital clock */
@media (max-width: 480px){
  
  .clock{
    flex-direction: column;
  }

  .clock #ampm{
    position: static;
    width: 100%;
  }

  .clock span{
    width: 150px;
    height: 100px;
  }

  .clock .text{
    height: 50px;
    font-size: 12px;
  }

  footer a{
    font-weight: 700;
    color: white;
    position: relative;
    top: 20px;
  }
}
